* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    min-height: 100vh;
    font-family: Estedad, Vazirmatn, sans-serif, Roboto;
    background-color: lightyellow;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}

/*::-webkit-scrollbar-track {*/
/*    background-clip: border-box;*/
/*    border-radius: 2px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(60, 60, 60, 0.3);*/
/*    border-radius: 2px;*/
/*}*/
